{% extends "base.html" %}
{% block principal %}
<div class="container ">
  <div class="row justify-content-center">

  

    {% include "equipo/Percy.html"%}
    {% include "equipo/maria.html"%}
    {% include "equipo/edward.html"%}
    {% include "equipo/gabriela.html"%}
    {% include "equipo/benjamin.html"%}
    
    {% include "equipo/luis.html"%}
    
    {% include "equipo/widen.html"%}
    {% include "equipo/leonard.html"%}
    {% include "equipo/michael.html"%}
    {% include "equipo/dario.html"%}
    {% include "equipo/maximiliano.html"%}
    {% include "equipo/donnier.html"%}
    {% include "equipo/luis_r.html"%}
    {% include "equipo/jean.html"%}
    {% include "equipo/emerson.html"%}
    {% include "equipo/rotsen.html"%}
  </div>
</div>

{% endblock %}