<section class="page-section" id="servicios">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Servicios que brindaremos</h2>
            <h3 class="section-subheading text-muted">Servicios que brindaremos muy pronto</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x ">
                    <i class="fas fa-circle fa-stack-2x text-danger"></i>
                    <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                   
                </span>
                <h4 class="my-3">Paginas Web Landing Page</h4>
                <p class="text-muted">Paginas web básicas fundamentales para negocios pequeños y empresas consolidadas </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-danger "></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Paginas web con Ecomerce</h4>
                <p class="text-muted">Paginas web con opción de vender productos via online </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-danger"></i>
                    <i class="fas fa-chart-line fa-stack-1x fa-inverse"></i>
                    
                </span>
                <h4 class="my-3">Marketing Digital</h4>
                <p class="text-muted">Posicionar negocios a travez de manejos de redes sociales y SEO de web</p>
            </div>
        </div>
    </div>
</section>