 <!-- Portfolio Grid-->
 <section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Portfolio</h2>
            <h3 class="section-subheading text-muted">Trabajos realizados con todas las tecnologias que aprendimos con Código Futuro</h3>
        </div>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 1-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{{url_for('static', filename='img/1_landing_page.png')}}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Landing Page</div>
                        <div class="portfolio-caption-subheading text-muted">Para realizar paginas informativas con proposito de incrementar funcionalidades de acuerdo a como va creciendo los requerimientos. </div>
                    </div>
                </div>
            </div>
            
            <!-- su modal de portafolio 1 -->
            <div class="modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="portfolioModal1Label">Landing Page</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img class="img-fluid" src="{{url_for('static', filename='img/1_landing_page.png')}}" alt="..." />
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- portafolio 2 -->
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 2-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{{url_for('static', filename='img/2_generadorqr.png')}}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Generador QR </div>
                        <div class="portfolio-caption-subheading text-muted">Para generar enlaces directos a travez de QR para negocios o uso personales  </div>
                    </div>
                </div>
            </div>
            
            <!-- su modal de portafolio 2 -->
            <div class="modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="portfolioModal2Label">Generador QR </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img class="img-fluid" src="{{url_for('static', filename='img/2_generadorqr.png')}}" alt="..." />
                        </div>
                    </div>
                </div>
            </div>

            <!-- portafolio 3 -->
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 3-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{{url_for('static', filename='img/3_convertidor_moneda.png')}}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Convertidor Monedas en tiempo real </div>
                        <div class="portfolio-caption-subheading text-muted">Convertidor Monedas en tiempo real a travez de una conexión de una API de monedas </div>
                    </div>
                </div>
            </div>
            
            <!-- su modal de portafolio 3 -->
            <div class="modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="portfolioModal3Label">Convertidor Monedas en tiempo real </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img class="img-fluid" src="{{url_for('static', filename='img/3_convertidor_moneda.png')}}" alt="..." />
                        </div>
                    </div>
                </div>
            </div>

            <!-- portafolio 4 -->
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 4-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" data-bs-target="#portfolioModal4">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{{url_for('static', filename='img/4_quitar_fondo_imagen.png')}}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Landing Page</div>
                        <div class="portfolio-caption-subheading text-muted">Landing Page </div>
                    </div>
                </div>
            </div>
            
            <!-- su modal de portafolio 4 -->
            <div class="modal fade" id="portfolioModal4" tabindex="-1" aria-labelledby="portfolioModal4Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="portfolioModal4Label">Landing Page</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img class="img-fluid" src="{{url_for('static', filename='img/4_quitar_fondo_imagen.png')}}" alt="..." />
                        </div>
                    </div>
                </div>
            </div>

            <!-- portafolio 5 -->
            <div class="col-lg-4 col-sm-6 mb-4">
                <!-- Portfolio item 5-->
                <div class="portfolio-item">
                    <a class="portfolio-link" data-bs-toggle="modal" data-bs-target="#portfolioModal5">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <img class="img-fluid" src="{{url_for('static', filename='img/5_reconocimiento_facial.png')}}" alt="..." />
                    </a>
                    <div class="portfolio-caption">
                        <div class="portfolio-caption-heading">Landing Page</div>
                        <div class="portfolio-caption-subheading text-muted">Landing Page </div>
                    </div>
                </div>
            </div>
            
            <!-- su modal de portafolio 5 -->
            <div class="modal fade" id="portfolioModal5" tabindex="-1" aria-labelledby="portfolioModal5Label" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-xl">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="portfolioModal5Label">Landing Page</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img class="img-fluid" src="{{url_for('static', filename='img/5_reconocimiento_facial.png')}}" alt="..." />
                        </div>
                    </div>
                </div>
            </div>

        
        </div>
    </div>
</section>