
  <div class="container">
    <a class="navbar-brand" href="/"><img src="{{url_for('static', filename='img/logo_codigofuturo.png')}}" alt="" width="100px"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link active me-auto" aria-current="page" href="/">Inicio</a>
        <a class="nav-link" href="#servicios">Servicios</a>
        <a class="nav-link" href="#stack">stack</a>
        <a class="nav-link" href="#portafolio">Portafolio</a>
        <a class="nav-link" href="{{ url_for('equipo') }}">Equipo Estudiantes</a>
      </div>
    </div>
  </div>
